// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends-Grid             ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Header
.peopleColumn-29fq28 .title-30qZAO {
  position: absolute;
  top: -50px;
  left: -28px;
}

// Grid
.peopleColumn-29fq28 .content-3YMskv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 12px;
  row-gap: 12px;
  height: 100%;
}

// Remove Space
.peopleColumn-29fq28 .content-3YMskv [style="height: 0px;"] {
  display: none;
}

// Spacing
.peopleColumn-29fq28 {
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

// Disable Default Scrollbar
.peopleColumn-29fq28 .scrollerBase-289Jih {
  overflow: visible !important;
  margin-bottom: 100%;
}

// Add new scrollbar
.peopleColumn-29fq28 {
  display: block;
  overflow: hidden scroll;
}

// Scrollbar
.peopleColumn-29fq28::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.peopleColumn-29fq28::-webkit-scrollbar-corner {
  background-color: transparent;
}
.peopleColumn-29fq28::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  min-height: 40px;
}
.peopleColumn-29fq28::-webkit-scrollbar-thumb,
.peopleColumn-29fq28::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: var(--friends-grid-radius);
}
.peopleColumn-29fq28::-webkit-scrollbar-thumb,
.peopleColumn-29fq28::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: var(--friends-grid-radius);
}
.peopleColumn-29fq28::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends-Grid             ║ Cards                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Alignment
.peopleColumn-29fq28 .listItemContents-2w6nwE,
.peopleColumn-29fq28 .listItemContents-BUaJR_,
.peopleColumn-29fq28 .listItemContents-95HL3L {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Card (Normal)
.peopleColumn-29fq28 .peopleListItem-2nzedh {
  background: var(--background-secondary-alt);
  border-radius: var(--friends-grid-radius) !important;
  height: 100% !important;
  margin: 0px;
  padding: 0px;
  border-top: none;
  min-height: 200px;
}

// Card (Hover)
.peopleColumn-29fq28 .peopleListItem-2nzedh.active-rhSpJJ,
.peopleColumn-29fq28 .peopleListItem-2nzedh:hover{
  background: var(--background-secondary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends-Grid             ║ Cards (Avatar)                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Avatar
.peopleColumn-29fq28 .avatar-3W3CeO.wrapper-3t9DeA {
  transform: scale(1.8);
  margin-left: 30px;
  margin-top: 40px;
}

// Avatar Mask
.peopleColumn-29fq28 .avatar-3W3CeO::before {
  content: "";
  position: absolute;
  width: 116%;
  height: 116%;
  background: var(--background-secondary-alt);
  border-radius: 100%;
  left: -8%;
  top: -8%;
}

.peopleColumn-29fq28 .peopleListItem-2nzedh:hover .avatar-3W3CeO::before {
  background: var(--background-secondary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends-Grid             ║ Cards (Text)                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.peopleColumn-29fq28 .userInfo-2zN2z8 {
  transform: scale(1.0);
  width: 100%;
  height: 70%;
}

// Username / Status
.peopleColumn-29fq28 .text-37NqbO {
  position: absolute;
  width: 100%;
  left: 20px;
  bottom: 0px;
}

// Status
.peopleColumn-29fq28 .text-3MU_QQ{ width: 80%;}

// Discriminator
.peopleColumn-29fq28 .discriminator-22Okc1 {
  visibility: visible;
}