// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins                  ║ Better Friend List                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.bfl-container {
  height: 0%;
}

.bfl-mutualGuilds {
  transform: scaleX(-1) !important;
  margin-right: 0px;
  position: absolute !important;
  margin-top: 84px;
}

// Hight Fix
.peopleList-3c4jOR {padding-top: 0px !important;}


// Guild Icons
.iconContainer-24L2fh {
  transform: scaleX(-1) scale(1.06)!important;
  background: transparent;
  padding: 0px 0px 0px 10px;
}

// Guild (Normal)
.bfl-mutualGuilds{
  opacity: var(--FG-mutal-guilds-normal);
}

// Guild (Hover)
.peopleColumn-29fq28 .peopleListItem-2nzedh:hover .bfl-mutualGuilds{
  opacity: var(--FG-mutal-guilds-hover);
}