// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends-Grid             ║ Reponsive                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

/*
@media screen and (min-width: 0px) and (max-width: 1400px) {
  .peopleColumn-29fq28 .content-3YMskv {grid-template-columns: 1fr 1fr 1fr; }
  //.userInfo-2zN2z8 {transform: scale(1.2); left: 0px;}
  //.peopleListItem-2nzedh:hover .userInfo-2zN2z8 {transform: scale(1.2); left: 0px;}
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .peopleColumn-29fq28 .content-3YMskv {grid-template-columns: 1fr 1fr ; }
  //.userInfo-2zN2z8 {transform: scale(1.1); left: 0px;}
  //.peopleListItem-2nzedh:hover .userInfo-2zN2z8 {transform: scale(1.1); left: 0px;}
}
*/