// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Reponsive                ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@media screen and (min-width: 0px) and (max-width: 8000px) {
  .peopleColumn-29fq28 > div > div {grid-template-columns: 1fr 1fr 1fr 1fr;}
  .peopleColumn-29fq28 .peopleListItem-2nzedh {min-height: 200px;}
}

@media screen and (min-width: 0px) and (max-width: 2000px) {
  .peopleColumn-29fq28 > div > div {grid-template-columns: 1fr 1fr 1fr;}
  .peopleColumn-29fq28 .peopleListItem-2nzedh {min-height: 200px;}
}

@media screen and (min-width: 0px) and (max-width: 1600px) {
  .peopleColumn-29fq28 > div > div {grid-template-columns: 1fr 1fr;}
  .peopleColumn-29fq28 .peopleListItem-2nzedh {min-height: 200px;}
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .peopleColumn-29fq28 > div > div {grid-template-columns: 1fr;}
  .peopleColumn-29fq28 .peopleListItem-2nzedh {min-height: 200px;}
}