// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends-Grid             ║ Disable                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Disable now playing
//.nowPlayingColumn-2sl4cE {display: none;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends-Grid             ║ Blur                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


// Blur
.overflow-WK9Ogt,
.textContent-3N7xXx,
.username-2b1r56,
.discriminator-22Okc1,
.subtext-24R4-w,
.activity-525YDR {
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.avatar-3W3CeO.wrapper-3t9DeA {filter:blur(1px);}
