/**
 * @name CreArts | Friends-Grid
 * @version 1.0.8
 * @author CorellanStoma#1996
 * @authorLink https://crearts-community.github.io
 * @description Friends-Grid adds a grid view to the friends list.
 * @source https://crearts-community.github.io/Friends-Grid
 * @invite 8w8e39z
*/

@import url("https://crearts-community.github.io/Friends-Grid/clients/betterdiscord.css");