/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Discord Add-on                                                                                                     ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Theme:                   ║ Friends-Grid                                                                            ║ */
/* ║ Client:                  ║ Better Discord                                                                          ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ║ Support:                 ║ https://discord.gg/8W8E39Z                                                              ║ */
/* ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                                    ║ */
/* ║ Friends-Grid adds a grid view to the friends list.                                                                 ║ */
/* ║                                                                                                                    ║ */
/* ║ This Project was created by CorellanStoma#1996.                                                                    ║ */
/* ║                                                                                                                    ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Import                   ║ Do not comment out these lines! By disabling the theme can not work correctly.          ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

@import url("https://crearts-community.github.io/Friends-Grid/theme.css"); /* ⚠️ Do not touch! */

@import url("https://crearts-community.github.io/Friends-Grid/modules/plugins/betterdiscord.css"); /* ⚠️ Do not touch! */