// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Reponsive                ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@media screen and (min-width: 0px) and (max-width: 6000px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {height: auto !important; margin-right: 60vw;}
}

@media screen and (min-width: 0px) and (max-width: 5000px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {height: auto !important; margin-right: 50vw;}
}

@media screen and (min-width: 0px) and (max-width: 4000px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {height: auto !important; margin-right: 40vw;}
}

@media screen and (min-width: 0px) and (max-width: 3000px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {height: auto !important; margin-right: 30vw;}
}

@media screen and (min-width: 0px) and (max-width: 2600px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {height: auto !important; margin-right: 0vw;}
}

@media screen and (min-width: 0px) and (max-width: 2000px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {grid-template-columns: var(--FG-row); height: auto !important;}
}

@media screen and (min-width: 0px) and (max-width: 1600px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {grid-template-columns: 1fr 1fr; height: auto !important;}
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .peopleColumn-1wMU14 .peopleList-2VBrVI > div {grid-template-columns: 1fr; height: auto !important;}
}